
/*Downloaded from https://www.codeseek.co/Jastor11/p5js-character-moving-on-screen-dpEQqJ */
* {
	box-sizing: border-box;
	font-family: Roboto;
}
html {
	height: 100%;
	width: 100%;
}
body {
	padding: 0; margin: 0;
	height: 100%;
	width: 100%;
}
.container {
	padding-top: 5px;
    display: flex;
    justify-content: center;
	display: flex;
}
div#inventory-container {
	background-color: #f3f3f7;
}
div#inventory-container div {
	background-color: #e6e8f1;
	padding: 10px 20px;
	display: flex;
}
div#inventory-container div object{
	width: 20px;
	margin-right: 10px;
}
h1 {
	margin: 0;
    font-size: 23px;
    font-weight: 100;
}
div#items-list {
	background: none !important;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.item-box{
	display: flex;

} 
